name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@latest
    - uses: actions/setup-node@latest
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      env:
        REVISION_KEY: ${{ secrets.REVISION_KEY }}
        apiUsername: ${{ secrets.apiUsername }}
        apiPassword: ${{ secrets.apiPassword }}
        staffEmail: ${{ secrets.staffEmail }}
        staffPassword: ${{ secrets.staffPassword }}
        MAILOSAURAPIKEY: ${{ secrets.MAILOSAURAPIKEY }}
    - uses: actions/upload-artifact@latest
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
